@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Century Gothic" !important
}

.text-black-important{
  color: black !important;
}

.bg-white-important{
  background-color: white !important;
}